PORT=3000
LOCAL_PORT=1315
NODE_ENV=production
APP_PASSWORD=ard-shibalab
SESSION_SECRET=change-this-session-secret-isekai
EVENT_NAME=ARD_Shibalab_個展
EVENT_DATE=2026-03-14
EVENT_END_DATE=2026-03-15
DAY1_START=2026-03-14T11:00:00+09:00
DAY1_END=2026-03-14T19:00:00+09:00
DAY2_START=2026-03-15T11:00:00+09:00
DAY2_END=2026-03-15T17:00:00+09:00
EVENT_TIMEZONE=Asia/Tokyo
PUBLIC_HOSTNAME=ard-shibalab.nono-test.net
SQLITE_PATH=/data/visitor.sqlite
CLOUDFLARE_TUNNEL_TOKEN=